<ion-header>
  <ion-toolbar color="secondary">
    <ion-title mode="md">Server Configuration</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="login-content" class="padding">
  <div class="login-box box-outer">
    <form (ngSubmit)="saveDomainUrl()" #restUrlForm="ngForm">
      <ion-row>
        <ion-col>
          <div class="eg-text">
            <p>Configure your custom domain name here,</p>
          </div>
          <ion-item>
            <ion-input type="url" placeholder="Domain Url" name="username" pattern="https?://.+"
              [(ngModel)]="domainCredentials" required></ion-input>
          </ion-item>
          <span type="submit" id="domain-ex" (click)="gotoForgotPwdPage()">Example: http://your.server.com(:port)</span>
          <!-- <div class="eg-text">
            <p>{{'example' | translate}}: http://your.server.com(:port)/</p>
          </div> -->
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding">
        <ion-col class="signup-col">
          <ion-button size="large" class="submit-btn" color="white"  id="login" 
          fill="clear"expand="full" type="submit" [disabled]="!restUrlForm.form.valid">Continue</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>