.account-form ion-label {
    color: #011b94 !important;
    z-index: 10;
  }

  .account-form ion-button {
    text-transform: capitalize;
  }

  .setting-bt {
    padding: 1px 15px 1px 1px;
    z-index: 5;
    font-size: 30px;
    float: right;
    color: #1E4A6D;
    position: relative;
    margin: 17px;
    height: 24px;
    width: 28px;
  }

  .login-box {
    padding: 0px;
      margin: 71px 16px;
  }
  .login-box ion-input {
    color: #333333;
  }

  .login-title {
    text-align: center;
    padding: 0px;
    background-color: transparent;
    background-image: url(../../../src/assets/images/Nexovate-Logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102px 138px;
    height: 140px;   
  }
  .login-title h5 {
    margin: 20px 0 0px 0;
    font-size: 3em;
    font-weight: 300;
  }
  .login-title ion-icon {
    font-size: 5em;
    color: white !important;
  }

  .login-form .label-floating.sc-ion-label-md-h{
    transform: translateY(145%)!important;
  }
  .login-form .item-has-value .label-floating.sc-ion-label-md-h{
    transform: translateY(8%) scale(0.95) !important;
  }
  .ionlist{
    background: transparent;
    color: red;
  }
  .ionlist span{
    color: #333333;
  }
  .ionlist span a{
    color: #011b94;
    font-weight: 600;
  }
  #forgot-btn {
    color: #999999 !important;
    float: right;
    font-style: normal;
    margin-top: 14px;
    font-size: 12px;
    margin-bottom: 14px;
  }
  .submit-btn {
    font-family: sans-serif;
    color: white !important;
    background: #1E4A6D;
    height: 2.8em;
    font-size: 14px;
    padding: 0 1em;
    border-radius: 4px;
  }
  .submit-btn-sec {
    font-family: sans-serif;
    color: #011b94 !important;
    background: #ffffff;
    border: 1px solid #011b94;
    height: 2.8em;
    font-size: 14px;
    padding: 0 1em;
    border-radius: 4px;
  }
  .signup-link,  .signup-link span{
    width: 100%;
    text-align: center;
    font-size: 12px !important;
    margin-top: 24px !important;
    margin-bottom: 24px;
    color: #999999 !important;
  }
  .mb-18{
    margin-bottom: 18px;
  }
  .mb-54{
    margin-bottom: 54px;
  }
  .mb-32{
    margin-bottom: 32px;
  }
  .login-title-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
    font-family: sans-serif;
    justify-content: space-around;
  }

  ion-backdrop {
    opacity: 0.9;
    // background: var(--ion-color-primary);
    background:#d9d7d794;
    filter: blur(8px);
  -webkit-filter: blur(8px);
  }
  
  #box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-background-color, #fff);
    width: 90%;
    height: 77px;
    border-radius: 10px;
    gap: 16px;
    font-size: 20px;
  }