@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,600');

ion-label{
  font-family: sans-serif;
}
.list-view-badge{
    .badge-custom {
        font-family: sans-serif;
        float: left;
        padding : 4px;
        font-size: 12px;
        min-width: 50px;
        font-weight: 500;
        border-radius: 20px;
        height: 20px;
        box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 
                    0 3px 1px -2px rgb(0 0 0 / 20%),
                    0 1px 5px 0 rgb(0 0 0 / 12%);
    }
    .list-view{
        
        padding: 5px 5px 0px 5px;
        background-color: rgb(243, 240, 240);
    }
    
    
    ion-item-divider{
        padding: 0px;
        border-radius: 8px;
    }
    .cat-label {
        font-family: sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: small;
        color: rgb(119, 118, 118);
    }
    .location-label {
        font-family: sans-serif;
        color: rgb(119, 118, 118);
        // padding-top: 13px;
    }
    .asset-detail {
        min-height: 55vh;
    }
    .asset-info {
        bottom: 0;
        position: absolute;
        margin-bottom: 8%;
        margin-left: 5%;
        color: rgb(119, 118, 118);
        font-weight: 600;
    }
    }

.card-space{
    width: 100%;
    margin-bottom: 8px;
    }
    

.card-tile .item-inner{
    padding: 0px!important;
    }
    .card-tile .card{
      width: 100%;
      margin: 10px 0px;
      border-radius: 4px;
      border: 2px solid #C3C5C8;
      box-shadow: 0 4px 7px #0000001a;
      padding: 10px 0px 0px;
    }
    .card-tile .job-card{
    width: 84%;
    margin-left: 0px;
    border-radius: 4px;
    border: 1px solid #C3C5C880;
    }
    .card .item-native, .card .item-inner{
        padding: 0px!important;
      }
      .sec ion-col{
        padding: 0px!important;
      }
      .sec{
        padding: 0px 12px 0px 0px !important;
        width: 100%;
      }
      .job-sec ion-col{
        padding: 0px!important;
      }
      .sec-1{
        padding: 12px 0px!important;
      }
      .sec-3{
        padding: 12px 0px!important;
        font-size: 10px;
      }
      .sec-1 .field-1{
        font-size: 12px!important;
        font-weight: 500;
        min-width: 40px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sec-1 .field-3{
        font-size: 14px!important;
        font-weight: 500;
        color: #7E7E7E!important;
        text-align: right;
        min-width: 72px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sec-2 .field-1{
        font-size: 12px!important;
        font-weight: 500;
        min-width: 40px;
        max-width: 300px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sec-2 .field-2{
        font-size: 12px!important;
        font-weight: 400;
        min-width: 40px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #7E7E7E!important;
      }
      .sec-3 .field-1{
        font-size: 12px!important;
        font-weight: 400;
        color: #7E7E7E!important;
        min-width: 40px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sec-3 .field-2{
        font-size: 12px!important;
        font-weight: 400;
        color: #7E7E7E!important;
        min-width: 40px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sec-3 .field-3{
        font-size: 12px!important;
        font-weight: 400;
        color: #7E7E7E!important;
        text-align: right;
        min-width: 40px;
        max-width: 345px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .date-font{
        margin: 0px;
      }
      .card-red{
        border-left: 4px solid #FA2B2B!important;
      }
      .card-blue{
        border-left: 4px solid #3449a9!important;
      }
      .card-orange{
        border-left: 4px solid #EF8F4B!important;
      }

.card-space ion-item-option{
  // height: 95px;
  margin: 12px 0px;
  border-radius: 0px;
}

// filter css
ion-content{
}

.filter-box{
  padding: 14px 10px 6px 10px;
}
.filter-sec{
  padding-bottom: 36px;
}
.required-item{
  margin-bottom: 16px;
  margin-top: -13px;
}
.required-label{
  font-size: 13px;
  color: #7e7e7e;
}
.filter-label{
  font-size: 16px;
  font-weight: 600;
  color: #011b94;
  padding-left: 17px;
}
.secondary-btn{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  color: #011b94;
  font-weight: 700;
  background: #eff1fe;
}
.primary-btn{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background: #011b94;
}
searchbar-search-icon{
  color: #3c75e6;
}
.card-inner-heading{
  font-weight: 600;
}
.order-list{
  padding-bottom: 12px;
}
.card-chevron{
  color: rgba(46, 125, 222, 0.86);
  position: absolute;
  font-size: 24px;
  z-index: 1;
  top: 42px;
  right: 0px;
}
.no-record{
    display: flex;
    align-items: center;
    justify-content: center;
}
.backdrop-no-tappable{
  display: none;
}
.label-sec{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.alert-radio-label{
  padding-left: 36px!important;
}
// .clear-icon{
//   top: 30px;
//   left: -2px;
//   position: relative;
//   background: white;
// }

ion-backdrop {
  opacity: 0.9;
  // background: var(--ion-color-primary);
  background:#d9d7d794;
  filter: blur(8px);
-webkit-filter: blur(8px);
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-background-color, #fff);
  width: 90%;
  height: 77px;
  border-radius: 10px;
  gap: 16px;
  font-size: 20px;
}