ion-content{
  font-family: sans-serif!important;
}

.filter-box{
  padding: 14px 10px 6px 10px;
}
.filter-sec{
  padding-bottom: 12px;
}
.required-item{
  margin-bottom: 16px;
  margin-top: -13px;
}
.required-label{
  font-size: 13px;
  color: #7e7e7e;
}
.filter-label{
  font-size: 16px;
  font-weight: 600;
  color: #011b94;
  padding-left: 17px;
  font-family: sans-serif;
}
.secondary-btn{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  color: #011b94;
  font-weight: 700;
  background: #eff1fe;
}
.primary-btn{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  background: #011b94;
}
searchbar-search-icon{
  color: #3c75e6;
}