<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>Dashboard</ion-item>
    <ion-item>Settings</ion-item>
    <ion-item (click)="logout()">Sign Out</ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <div class="home-card">
      <div>
        <div class="card-grid" style="grid-template-columns: repeat(1, 1fr);">

          <ion-card (click)="openPO()" style="background: #eff1fe;box-shadow: none;border: 1px solid #C3C5C880;">
            <iconify-icon icon="ic:twotone-receipt-long" style="color: #011b94;"></iconify-icon>
            <ion-card-header>
              <ion-card-title>PO-Approval</ion-card-title>
            </ion-card-header>
            </ion-card>
          
            <ion-card *ngIf="false" style="background: #eff1fe;box-shadow: none;border: 1px solid #C3C5C880;">
              <iconify-icon icon="mdi:briefcase-transfer" style="color: #7e7e7e;"></iconify-icon>
              <ion-card-header>
                <ion-card-title>INV Transfer</ion-card-title>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              </ion-card-header>
              </ion-card>
          
        </div>
      </div>
      
      <div *ngIf="false">
        <div class="card-grid" *ngIf="false">
          
          <ion-card style="background: #eff1fe;box-shadow: none;border: 1px solid #C3C5C880;">
            <iconify-icon icon="material-symbols:shopping-cart" style="color: #7e7e7e;"></iconify-icon>
            <ion-card-header>
              <ion-card-title>Item Availability</ion-card-title>
            </ion-card-header>
            </ion-card>
          
          
            <ion-card style="background: #eff1fe;box-shadow: none;border: 1px solid #C3C5C880;">
              <iconify-icon icon="material-symbols:share-location" style="color: #7e7e7e;"></iconify-icon>
              <ion-card-header>
                <ion-card-title>Receipt-Routing</ion-card-title>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
              </ion-card-header>
              </ion-card>
          
        </div>
          <ion-card style="height: 160px;" > 
            <ion-card-header>
              <ion-card-title><ion-item>
                <ion-label position="floating">Search User Id</ion-label>
                 <ion-input type="text"  id="passwords" name="passwords" clearInput [(ngModel)]="userId"
                 required> </ion-input>
                 <ion-button expand="block" (click)="login()">Search</ion-button>
                 </ion-item></ion-card-title>
              
               <!-- <ion-item>
                <ion-button expand="block" (click)="login()">Search</ion-button>
              </ion-item> -->
            </ion-card-header>
            <ion-card-content>
              <div>address No:{{addressBook.address_number}}</div>
              <div>address Name:{{addressBook.address_number_desc}}</div>
            </ion-card-content>
          </ion-card>

          <!-- <ion-card style="height: 160px;"> 
            <ion-card-header>
              <ion-card-title><ion-item>
                <ion-label>PO Approvals</ion-label>
                <ion-label position="floating">Search By Address Number</ion-label>
                 <ion-input type="text"  id="number" name="number" clearInput [(ngModel)]="addressNo"
                 required> </ion-input>
                 <ion-button expand="block" (click)="openPO(addressNo)">Search</ion-button>
                 </ion-item></ion-card-title>
            
            </ion-card-header>
            <ion-card-content>
              <div>address No:{{addressBook.address_number}}</div>
              <div>address Name:{{addressBook.address_number_desc}}</div>
            </ion-card-content>
          </ion-card> -->
      </div>
    
    </div>
    
      <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
    </ion-content>
</div>


<!-- <ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <app-menu></app-menu>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu = "main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="alert"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


