.home-card{

}
.home-card ion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 104px;
    width: 95%;
    justify-content: center;
}
.home-card iconify-icon{
    font-size: 52px;
    margin-bottom: 34px;
}
.home-card ion-card-header{
    padding: 0px;
}
.home-card ion-card-title{
    font-size: 16px;
}
.home-card .card-grid{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 0px;
    grid-template-columns: repeat(2,1fr);
    overflow: auto;
    justify-items: center;
}
.flex-center-8{
    display: flex;
    align-items: center;
    gap: 8px;
}
.order-count{
    font-size: 22px!important;
    font-weight: 700;
    line-height: 32px;
}